   


    body{
    margin: 0;
    padding: 0;


  

}

.container{
  width: 100%;
  background-color:red ;
  border-radius: 10px;
  border: 1px solid black;
  height: 100%;
  max-width: 600px;
    background: #1f253d;

}

.titulodata{

}
.atividades{

}

/*<div class="container">
    
    <div class="containersingle">
      
      <div class="titulodata"></div>


      <div class="atividades">
        



      </div>


    </div><!--containersingle-->

  </div>

*/